@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 60px 0 0;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161a1d;
  padding: 0 10px;
  box-sizing: border-box;
}

.title {
  color: #e9ecef;
  font-size: 16px;
}

.navIcon {
  font-size: 19px;
  color: #e9ecef;
  margin: 0 10px;
}